<div class="greeting-widget-box">
  <div class="container">
    <h1 class="greeting">Greeting</h1>

    <form action="/greetings" method="POST">
      {{#if shouldDisplayError}}
      <div class="error-message" id="error-message">
        {{errorText}}
      </div>
      {{/if}}
      


      <div class="flex">
        <input type="text" placeholder="Please enter your name" class="text-input" name="userInput" />
      </div>

      <div class="radio-btns">
        <input type="radio" name="language" value="isiZulu" class="radio-btn" />
        <label for="radio">isiZulu</label>

        <input type="radio" name="language" value="English" class="radio-btn" />
        <label for="radio">English</label>

        <input type="radio" name="language" value="Spanish" class="radio-btn" />
        <label for="radio">Spanish</label>

      </div>

      <div class="flex">
        <button class="btn greet-me-btn" type="submit">Greet Me</button>
        <h2 class="counter-text">{{counter}}</h2>
      </div>
      {{#if greetMsg}}
      <p class="output-str">
        {{#if name}}
        {{greetMsg}},{{name}}
         {{else}}
         {{greetMsg}}
    {{/if}}
        </p>
        {{/if}}

    </form>

    <div class="flex">
      <form action="/reset" method="POST" onsubmit="return confirmReset();">
        <button class="btn reset-btn" type="submit">Reset</button>
      </form>

      <button class="btn get-users-btn"><a href="/greeted">Get Users</a></button>


    </div>
  </div>
</div>

<script>

 function confirmReset() {
    return confirm("Are you sure you want to reset the application?\nThis will reset the greet count and people greeted.");
  }

  document.addEventListener("DOMContentLoaded", function () {
        const errorMessage = document.getElementById("error-message");
        const shouldDisplayError = "{{shouldDisplayError}}"; // Get the value from your template

        if (shouldDisplayError === "true") {
            errorMessage.style.display = "block";
            setTimeout(() => {
                errorMessage.style.display = "none";
            }, 3000);
        }
    });
</script>